
<!-- HEAD Start -->

<head>
  {% include force-https.html %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{site.description | escape}}">
  <meta name="author" content="{{site.author}}">
  {% if site.keywords %}<meta name="keywords" content="{{site.keywords | escape}}">{% endif %}
  <link rel="canonical" href="{{page.url | replace:'index.html','' | prepend: site.baseurl}}">
  <title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>

  <!-- Open Graph / Twitter Card: previsualizacion al compartir el enlace -->
  {% capture og_title %}{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}{% endcapture %}
  {% capture og_desc %}{% if page.excerpt %}{{ page.excerpt | replace: '</p>', '</p> ' | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}
  {% capture og_url %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
  <meta property="og:type" content="{% if page.date %}article{% else %}website{% endif %}">
  <meta property="og:site_name" content="{{ site.title | escape }}">
  <meta property="og:locale" content="es_CL">
  <meta property="og:title" content="{{ og_title | escape }}">
  <meta property="og:description" content="{{ og_desc | escape }}">
  <meta property="og:url" content="{{ og_url }}">
  {% if site.og-image %}<meta property="og:image" content="{{ site.og-image }}">{% endif %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ og_title | escape }}">
  <meta name="twitter:description" content="{{ og_desc | escape }}">
  {% if site.og-image %}<meta name="twitter:image" content="{{ site.og-image }}">{% endif %}

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Custom CSS -->
  <link href="{{site.baseurl}}/css/grayscale.css" rel="stylesheet">
  {% if page.section-type == "index" %}
  <link href="{{site.baseurl}}/css/timeline.css" rel="stylesheet">
  {% endif %}

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{{site.baseurl}}/css/rrssb.css" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
  {% if site.favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="{{site.baseurl}}{{site.favicon}}">
  {% endif %}

  {% if page.url == "/404.html" | prepend: {{site.baseurl}} %}
    <meta http-equiv="refresh" content="20; url={{site.baseurl}}/">
  {% endif %}

  {% include web-app.html %}

  {% include color-browser.html %}

  {% include syntax-highlight.html %}

</head>

<!-- HEAD End -->
